@using ScrumProject.Models
@model PostIndexViewModel
@{
    ViewBag.Title = "ListShowPost";
}

@Styles.Render("~/Content/Site.css")

<h2>WALL - Formal posts</h2>

<br />

<div class="category panel">

    @using (Html.BeginForm("Submit", "Wall", FormMethod.Post))
    {
        <input type="submit" value="Sort by" class="btn btn-xs btn-primary" />

        <select id="dropdownMenu" name="dropdownMenu" class="dropdown-header" style="display: inline-block">

            <option value="0">All categories</option>

            @foreach (var category in Model.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }

        </select>

    }


</div>
<div class="formal">
    @foreach (var post in Model.Posts)
    {
        if (post.PublishedWall.Equals("Formell"))
        {

    <div id="blogPost" class="bg-default" style="padding: 1px 10px 20px 15px; margin: 10px 0px;">

        <h3>@post.Title</h3>

        <h4>Skrivet av: @post.AuthorOfPosts.Forename @post.AuthorOfPosts.Surname</h4>

        @Html.Label("Category: ") @post.Category.Name @Html.Label("Date: ") @post.PostDateTime
        <br />
        @post.Content
        <br />

        @if (post.FilePath != null)
        {
            if (post.FilePath.Contains("png") || post.FilePath.Contains("jpg") || post.FilePath.Contains("jpeg") || post.FilePath.Contains("JPG"))
            {
                <div>
                    <img src="@Url.Content(post.FilePath)" width="300" style="margin: 10px 0px;" />

                </div>
            }
            else if (post.FilePath.Contains("pdf") || post.FilePath.Contains("docx") || post.FilePath.Contains("xlsx"))
            {
                @Html.ActionLink("Download file", "DownloadFile", "Post", new { filepath = @post.FilePath }, null)
            }

        }

        <br /><br />

        @if (post.AuthorOfPosts.ProfileID == ViewBag.loggedInUser) {
                @Html.ActionLink("Edit post |", "EditPost", "Post", new { postId = @post.PostID }, null)
                @Html.ActionLink(" Delete post | ", "DeletePost", "Post", new { id = post.PostID }, new { confirm = true, onclick = "return confirm('Do you want to delete this post?')" })
        }


        @Html.ActionLink("Comment Post", "CreateComment", "Comment", new { postId = @post.PostID }, null)
        <h4><b> Comments </b></h4>
        @foreach (var comment in Model.Comments)
        {

            if
            (post.PublishedWall.Equals("Formell") && post.PostID == comment.PostID)
            {
                <div id="blogPost" class="bg-default" style="padding: 1px 5px 10px 10px; margin: 10px 0px; background-color: #BCC0D0;">

                    <h4>Written by: @comment.AuthorOfComments.Forename @comment.AuthorOfComments.Surname</h4>
                    @Html.Label("Date: ", new { htmlAttributes = new { @class = "CommentLabel" } }) @comment.Date
                    <hr />
                    @comment.Text
                    <br /><br />
                </div>
            }

        }

    </div>
        }

        
    }
</div>



