@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var countString = @Html.Action("Notifications", "Calendar");
        int count = Int32.Parse(countString.ToString());
        var notifications = " (" + count + ")";

            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Create Post", "CreatePost", "Post")</li>
                <li>@Html.ActionLink("Formal Wall", "FormalWall", "Wall")</li>
                <li>@Html.ActionLink("Informal Wall", "InformalWall", "Wall")</li>

                @if(count > 0)
                {
                    <li>@Html.ActionLink("Calendar" + notifications, "Index", "Calendar")</li>

                } else
                {
                    <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                }


                <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
            </ul>
           
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Session["loggedInUser"] != null)
                {
                    @Html.ActionLink("" + Session["loggedInUser"], "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })

                }
                else
                {
                    @Html.ActionLink("Your page", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })

                }
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
