@using ScrumProject.Models
@model Profile


<div class="calendar-information-form">
    <div class="calendar-content">

        <h2 style="margin-top: 0;">Change your information</h2>
        @using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>First name</h3>
            @Html.EditorFor(model => model.Forename, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Forename, "", new { @class = "text-danger" })

            <br />
            <h3>Surname</h3>
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            <br />

            <h3>Phone number</h3>
            @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { type = "number", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })

            <br />

            if (Model.AdminRights == true)
            {
                <h3>You're an administrator</h3>
            }
            else
            {
                <h3>You're not an administrator</h3>
            }

            <br />
            <input type="submit" value="Update" class="btn btn-info" />
        }

    </div>
</div>


<div class="calendar-information-form">
    <div class="calendar-content">
        <h1>@Html.ActionLink("Show members on this site", "ShowOthersProfile", "Profile")</h1>
    </div>
</div>

<div class="calendar-information-form">
    <div class="calendar-content">
        <h2 style="margin-top: 0;">Change wall preferences</h2>
        @Html.Partial("WallSettings")
    </div>
</div>

<div class="calendar-information-form">
    <div class="calendar-content">
        <h2 style="margin-top: 0;">Select categories to get email notifications on</h2>
        @Html.Partial("SelectCategory", new ProfileIndexViewModel())
    </div>
</div>

@if (Model.AdminRights == true)
{
    <div class="calendar-information-form">
        <div class="calendar-content">
            <h1>@Html.ActionLink("Go to admin settings", "AdminPage", "Profile")</h1>
        </div>
    </div>
}


