@using ScrumProject.Models
@using Microsoft.AspNet.Identity;
@model ProfileIndexViewModel

@{
    ViewBag.Title = "SelectProfile";
}

<div class="flex">

    @foreach (var profile in Model.Profiles)
    {
        if (profile.ProfileID.Equals(User.Identity.GetUserId()))
        {

            <div id="profile" class="bg-default" style="padding: 1px 10px 20px 15px; margin: 10px 0px;">
                <h3>
                    Profile
                </h3>

                @Html.Label("Forename: ") @profile.Forename
                <br />
                @Html.Label("Surname: ") @profile.Surname
                <br />
                @Html.Label("Phone number: ") @profile.Phonenumber @Html.ActionLink("Edit", "EditPhoneNumber", "Profile", new { profileID = @profile.ProfileID }, null)

            </div>
        }

    }

</div>


<div id="category" class="bg-default" style="padding: 1px 10px 20px 15px; margin: 10px 0px;">
    <h3>
        What are you intrested in?
    </h3>
    <h4>
        Select a category to get notifications from!
    </h4>

    @Html.ActionLink("Select", "SelectCategory", "Profile")

    <br />

    <h5>Your selected categories are: </h5>
    <br/>
    @foreach (var chosenCategory in Model.ChosenCategory)
    {
        if (chosenCategory.ProfileID.Equals(User.Identity.GetUserId())) 
        {
            @chosenCategory.Name
            <br/>
        }
    }
</div>

<div id="other profiles" class="bg-default" style="padding: 1px 10px 20px 15px; margin: 10px 0px;">

    <h3>
        See other profiles
    </h3>

    @using (Html.BeginForm("SelectProfile", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        @Html.LabelFor(model => model.Profiles, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            <h2>Select a profile </h2>

            <select id="dropdownMenu" name="dropdownMenu" class="form-control" style="margin-bottom: 5px;">
                <option value="0">Choose a profile</option>
                @*@foreach (var profile in (ViewBag.profiles as List<ScrumProject.Models.Profile>))
                {
                    <option value="@profile.Forename">@profile.Forename</option>
                }*@
            </select>
            <input type="submit" value="Select" class="btn btn-xs btn-primary" />
        </div>
    }

</div>

