@using ScrumProject.Models
@using Microsoft.AspNet.Identity;
@model ProfileIndexViewModel

<h2>&larr; @Html.ActionLink("Back to profile", "Index", "Profile")</h2>

<h2>Other members on this site</h2>

@foreach (var profile in Model.Profiles)
{
    <div class="calendar-information-form">
        <div class="calendar-content">

            @Html.Label("Forename: ") @profile.Forename
            <br />
            @Html.Label("Surname: ") @profile.Surname
            <br />
            @Html.Label("Phone number: ") @profile.Phonenumber
        </div>
    </div>
}
