@model ScrumProject.Models.Comment

@{
    ViewBag.Title = "CreateComment";
}

    <div class="calendar-information-form">

        <div class="calendar-content">

            @using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h2 style="margin-top: 0;">Comment</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PostID)



                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Create" class="btn btn-success" />
            
            }

            </div>
        </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
