@model ScrumProject.Models.Post


@{
    ViewBag.Title = "CreatePost";
}
    <body style="margin-top: 30px;">

            <div class="calendar-information-form">

                <div class="calendar-content">


                    @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <h2 style="margin-top: 0px;">Publish new post</h2>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-bottom: 5px;">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">
                                <select id="dropdownMenu" name="dropdownMenu" class="form-control" style="margin-bottom: 5px;">
                                    @foreach (var category in (ViewBag.categories as List<ScrumProject.Models.Category>))
                                    {
                                        <option value="@category.Name">@category.Name</option>
                                    }
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FilePath, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.FileStatus
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PublishedWall, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.RadioButtonFor(model => model.PublishedWall, "Formell ")
                                @Html.Label("Formell")
                             
                                @Html.RadioButtonFor(model => model.PublishedWall, "Informell")
                                @Html.Label("Informell")

                                @Html.ValidationMessageFor(model => model.PublishedWall, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <input type="submit" value="Publish post" class="btn btn-primary" style="width: 120px; margin: 10px 0 0 15px;" />

                    }
                </div>
            </div>

            @Html.Partial("_AddCategory")

        </body>