
<div class="flex-container">

    @foreach (var meeting in ViewBag.meetingInfo)
    {

        if (meeting.MeetingID != 0)
        {

            using (Html.BeginForm("DecideMeeting", "Calendar", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="calendar-information-form content-red">

                    <div class="calendar-content">

                        <h1>Finish booking meeting: @meeting.MeetingName</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="meetingId" value="@meeting.MeetingID" />


                        <h4>
                            <strong>Accepted invite:</strong>
                            @foreach (var part in meeting.Participants)
                            {
                                <p>@part.Forename @part.Surname,</p>
                            }

                        </h4>

                        <h3><strong>Date suggestions:</strong></h3>

                        <p><input name="IsChecked" type="radio" value="@meeting.Date1" /> @meeting.Date1 (voted for: @meeting.Date1Voters)</p>
                        <br />
                        <p><input name="IsChecked" type="radio" value="@meeting.Date2" /> @meeting.Date2 (voted for: @meeting.Date2Voters)</p>
                        <br />
                        <input type="submit" value="Booa meeting" class="btn btn-danger" style="margin: 10px 0 0 0px;" />
                    </div>
                </div>
            }

        }

        else
        {
            <div style="box-shadow: 0px 0px 3px #808080;" class="form-horizontal jumbotron meeting-form-nopadding">
                <div style="padding: 6px;">
                    @using (Html.BeginForm("DeleteOldMeeting", "Calendar", FormMethod.Post))
                    {
                    <h4>
                        Everyone you invited declined your invite (@meeting.MeetingName)
                        <input type="hidden" name="meetingName" value="@meeting.MeetingName" />
                        <input type="submit" value="X" class="btn btn-danger btn-xs" style="margin: 0 0 0 8px;" />
                    </h4>
                  
                    }
                </div>
            </div>
        }
    }

    </div>