@using ScrumProject.Models
@model CalendarIndexViewModel

    <body style="margin-top: 30px;">

        @Html.Partial("_CreateMeeting")
        @Html.Partial("_InviteForm", new InviteIndexViewModel())
        <br />

        <h2 style="margin: 0 0 0 0; font-weight: bold;">Calendar</h2>
        <div class="calenderPage">
            <div class="calendar">

                @foreach (var meeting in Model.Meetings)
                {

                    <div class="calendar-box">

                        <div class="dateHolder">
                            <h2>@meeting.MeetingDateTime.Value.Day/@meeting.MeetingDateTime.Value.Month</h2>
                            <h3>@meeting.MeetingDateTime.Value.ToString("HH:mm")</h3>

                        </div>

                        <div class="calendar-box-information">
                            <h2>@meeting.Name</h2>
                            <h4>
                                Bokad av: <span>@meeting.CreatorOfMeetings.Forename @meeting.CreatorOfMeetings.Surname</span>
                            </h4>
                            <h4>
                                @{
                                    var meetingParticipants = new List<ProfilesToMeetings>();
                                }

                                Deltagare:
                                @for (int i = 0; i < Model.ProfilesToMeetings.Count; i++)
                                {
                                    if (Model.ProfilesToMeetings[i].MeetingID == meeting.MeetingID)
                                    {
                                        meetingParticipants.Add(Model.ProfilesToMeetings[i]);
                                    }
                                }
                                @for (int j = 0; j < meetingParticipants.Count; j++)
                                {
                                    if (meetingParticipants[j].ProfileID == meetingParticipants[meetingParticipants.Count - 1].ProfileID)
                                    {
                                        <span>@meetingParticipants[j].Profile.Forename @meetingParticipants[j].Profile.Surname</span>

                                    }
                                    else
                                    {
                                        <span>@meetingParticipants[j].Profile.Forename @meetingParticipants[j].Profile.Surname, </span>
                                    }
                                }




                            </h4>
                        </div>
                    </div>

                }

            </div>


            @Html.Partial("_MeetingForm", new MeetingIndexViewModel())

        </div>
    </body>